@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(100,94,62);
    background: linear-gradient(90deg, rgba(100,94,62,1) 0%, rgba(247,236,198,1) 100%);
}

.navbar-brand img{
    height: 100px;
}


/* Contenido */

.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;

}

.contenido .tituloBox{
    position: relative;
    max-width: 600px;
}

.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: #7a551c;
    line-height: 1.2;
}

.contenido .tituloBox h2 span{
    background: #9b7239;
    color: #ffffd5;
    padding: 0 10px;
    font-family: 'lora' , serif ;
    font-weight: 600;

}

.contenido .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: #7a551c;
    font-family: 'lora' , serif ;
    font-weight: 600;
    margin-bottom: 20px;
}

.contenido .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.contenido .tituloBox a:hover{
    color: #7a551c;
    background: #ffffd5;
}

.contenido .imgBox{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 0px;
}

.contenido .imgBox div{
    width: 480px;
}

section .imgBox{
    position: relative;
    display: flex;
    justify-content: center;
    width: 600px;
    align-items: center;
    margin: auto;
}

/* Copyright*/

.copyright {
    position: absolute;
    /* bottom: 0; */
    left: 0px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    justify-content: center;
    align-items: center;


}

.copyright p{
    color: #ffffd5;
}

/* Redes Sociales*/
.redesSociales{
    position: absolute;
    right: 700px;
    /* bottom: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}

.redesSociales li{
    padding: 10px;
}

.redesSociales li a{
    color: #ffffd5;
    font-size: 1.5em;
    transition: 0.3s;

}

.redesSociales li a:hover{
    color: #7a551c;
    
}

/* Tienda */
.tienda a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.tienda a:hover{
    color: #7a551c;
    background: #ffffd5;
}


/* Cards */
.grid-container {
    /* max-width: 1000px; */
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .card {
    max-width: 300px;
    width: 100%;
    border: 1px solid #7a551c;
    padding: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-button {
    display: block;
    margin-top: 10px;
  }
  
  .card-button:hover {
    background-color: #ffffd5;
  }
/* Medias Querys */

@media screen and (max-width: 767px) {
   .grid-container {
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 480px) {
   .grid-container {
      grid-template-columns: 1fr;
      text-align: center;
      margin: auto;
      align-items: center;
      align-content: normal;
    }
  }



/* TIENDA no funcional */
.product-list .product {
    display: block;
  }
  
.filtered {
    display: none;
  }

  .filters {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #9b7239;
    opacity: 50%;
    color: black solid;
  }
  
  .filter-option {
    display: inline-block;
    margin-right: 10px;
  }
  
  .filter-option label {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .filter-option select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }
