.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffd5;
    background: #7a551c;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.3s;
    
    &:hover{
        color: #7a551c;
        background: #ffffd5;
    }
}