
/* Cards */
.grid-container {
    /* max-width: 1000px; */
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .card {
    max-width: 300px;
    width: 100%;
    border: 1px solid #7a551c;
    padding: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-button {
    display: block;
    margin-top: 10px;
  }
  
  .card-button:hover {
    background-color: #ffffd5;
  }