@import '../partials/boton';
/* Contenido */

.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;

    .tituloBox{
        position: relative;
        max-width: 400px;

        h2{
            font-size: 4.5em;
            text-transform: uppercase;
            color: #7a551c;
            line-height: 1.2;

            span{
                background: #9b7239;
                color: #ffffd5;
                padding: 0 10px;
                font-family: 'lora' , serif ;
                font-weight: 600;
            
            }
        }
        h3{
            font-size: 3.5em;
            text-transform: uppercase;
            color: #7a551c;
            line-height: 1.2;
        }
        p{
            font-size: 1.8em;
            line-height: 1.5;
            color: #7a551c;
            font-family: 'lora' , serif ;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        a{
            @extend .btn;
            &:hover{
                transition: background-color 5s ease-out ;
            } 

        }
    }

    .tituloBox2 {
        @extend .tituloBox;
        max-width: 600px;
    }
}


@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.contenido .imgBox{
    @include flex (flex-end, center);
    width: 480px;
    padding: 0 50px 0 0;
    margin-top: 0px;

    div{
        width: 100%;
    }
}

.contenido .imgBox2{
    @include flex (flex-end, center);
    width: 480px;
    margin-top: 0px;

    div{
        width: 100%;
    }
}
