/* Medias Querys CARD*/

@media screen and (max-width: 767px) {
    .grid-container {
       grid-template-columns: repeat(2, 1fr);
       text-align: center;
       margin: auto;
     }
   }
   
   @media screen and (max-width: 480px) {
    .grid-container {
       grid-template-columns: 1fr;
       text-align: center;
       margin: auto;
       align-items: center;
       align-content: normal;
     }
   }
 
 
 
  // Media querys index

  @media screen and (max-width: 480px) {
    .contenido {
      display: flex;
      margin: 0px;
      align-items: center;
      text-align: center;
      flex-direction: column;
      font-size: .6rem;
    }
    
    .copyright{
      position: relative;
      margin-bottom: 0px;
      text-align: center;
    }

    .redesSociales{
      position: relative;
      right: 0px;
      justify-content: space-around;
    }
  }