/* Medias Querys CARD*/

@media screen and (max-width: 767px) {
    .grid-container {
       grid-template-columns: repeat(2, 1fr);
       text-align: center;
       margin: auto;
     }
   }
   
@media screen and (max-width: 480px) {
    .grid-container {
       grid-template-columns: 1fr;
       text-align: center;
       margin: auto;
       align-items: center;
       align-content: normal;
     }
   }
 
 
 
  // Media querys index

  @media screen and (max-width: 480px) {
    .contenido {
      display: flex;
      align-items: center;
      text-align: center;
      row-gap: 30px;
      flex-direction: column;
      font-size: .6rem;
        .imgBox {
          padding: 0 !important;
        }
        .imgBox2{
          padding: 10px !important;
        }
    }
    
    .copyright{
      position: relative;
      margin-bottom: 0px;
      text-align: center;
    }

    .redesSociales{
      position: relative;
      right: 0px;
      padding: 0 100px 30px;
      justify-content: space-around;
      left: 0px;
    }

    .tienda {
      margin-top: 1rem;

      a{
        margin-left: 0;
      }
    }
  }