*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(100,94,62);
    background: linear-gradient(90deg, rgba(100,94,62,1) 0%, rgba(247,236,198,1) 100%);
}

// Navbar imagen

.navbar-brand img{
    height: 100px;
}